@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

#profile-picture {
  width: 200px;
  border-radius: 50%;
}

#img-wrapper {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 50px;
  margin-right: 50px;
}

#break {
  fill: #a4acc4;
}

#links {
  margin-top: 50px;
  margin-bottom: 50px;
}

#links a {
  text-align: center;
  color: #a4acc4;
  line-height: 28.8px;
  font-size: 15.04;
  letter-spacing: 6px;
  margin-top: 20px;
}
#links a:hover {
  text-decoration: none;
  font-family: "lora", serif;
  font-size: larger;
  font-weight: bolder;
}
#links a:active {
  text-decoration: none;
  font-family: "lora", serif;
  font-size: larger;
  font-weight: bolder;
}
