#sidebar {
  margin: 0;
  padding: 0;
  width: 299px;
  background-color: #191d2b;
  position: fixed;
  font-size: 18px;
  text-align: left;
  line-height: 28.8px;
  letter-spacing: normal;
  height: 100%;
}
/* #main-content {
  background-color: #10121b;
  color: wheat;
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
} */
